button {
    position :absolute;
    left : 43%;
    top :60%;
}
.img {
    position : absolute;
    left : 30%;
    top  : 10%;


}

@media screen and (min-width: 0px) and (max-width: 400px) {
   
    button {
        position :absolute;
        left : 43%;
        top :60%;
    }
    .img {
        position : absolute;
        left : 0%;
        top  : 10%;
    
    
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
   
    button {
        position :absolute;
        left : 43%;
        top :60%;
    }
    .img {
        position : absolute;
        left : 0%;
        top  : 10%;
    
    
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
   
    button {
        position :absolute;
        left : 43%;
        top :60%;
    }
    .img {
        position : absolute;
        left : 20%;
        top  : 10%;
    
    
    }
}
@media screen and (min-width: 900px) and (max-width:1500px) {
   
    button {
        position :absolute;
        left : 43%;
        top :60%;
    }
    .img {
        position : absolute;
        left : 30%;
        top  : 10%;
    }
}

/*bkr resize
.App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.App-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

@media (min-width: 650px ) {
    .App {
        background-position: center center;
    }

    .App-content {
        align-items: flex-end;
        justify-content: center;
    }
}
*/